<html>
  <head>
    <title>
      Timeline
    </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="TimelineStyle.css" />
    <link rel="stylesheet" type="text/css" href="prism.css" />
    {{#each external_files.css}}
      <style>
        {{{this}}}
      </style>
    {{/each}}
  </head>
  <body class="pad-body-for-navbar">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#">
          CodeTimeline
        </a>
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="inactive toggleable" id="xrayToggle">
            <a href="#">
              X-Ray Mode
            </a>
          </li>
          <li class="dropdown" id="zoomDropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Zoom
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-header">
                Zoom-out Level
              </li>
              <li
                class="zoomLevel disabled"
                id="zoom1x"
                data-zoom="1"
                class="disabled"
              >
                <a href="#">
                  1X
                </a>
              </li>
              <li class="zoomLevel" id="zoom2x" data-zoom="2">
                <a href="#">
                  2X
                </a>
              </li>
              <li class="zoomLevel" id="zoom4x" data-zoom="4">
                <a href="#">
                  4X
                </a>
              </li>
              <li class="zoomLevel" id="zoom8x" data-zoom="8">
                <a href="#">
                  8X
                </a>
              </li>
              <li class="zoomLevel" id="zoom16x" data-zoom="16">
                <a href="#">
                  16X
                </a>
              </li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <div class="pagination" id="pager">
              <ul>
                <li id="first-commit-btn" class="pager-btn page-backward">
                  <a href="#">
                    «
                  </a>
                </li>
                <li
                  id="prev-commit-btn"
                  class="pager-btn page-backward"
                  data-counter-increment="-1"
                >
                  <a href="#">
                    ←
                  </a>
                </li>
                <li class="pager-btn disabled">
                  <a href="#">
                    <code id="shaDisplay">
                      shaDisplay
                    </code>
                  </a>
                </li>
                <li
                  id="next-commit-btn"
                  class="pager-btn page-forward"
                  data-counter-increment="+1"
                >
                  <a href="#">
                    →
                  </a>
                </li>
                <li id="last-commit-btn" class="pager-btn page-forward">
                  <a href="#">
                    »
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="divider-vertical"></li>
        </ul>
        <form class="navbar-form form-search" id="shaForm">
          <div class="input-group">
            <input
              type="text"
              class="search-query span2"
              id="shaSearch"
              autocomplete="off"
              placeholder="Type a SHA-1"
            />
            <button type="" class="btn" id="goToSha">
              Go!
            </button>
          </div>
        </form>
      </div>
    </div>
    <table>
      <tr>
        {{#each snapshots}}
          <td>
            {{#each this}}
              {{this}}
            {{/each}}
          </td>
        {{/each}}
      </tr>
    </table>
    {{#each external_files.js}}
      <script type="text/javascript">
        {{{this}}}
      </script>
    {{/each}}
    <script type="text/javascript">
      var revisions = [
      {{{revisions}}}
      ];
    </script>
  </body>
</html>